[submodule "third_party/kitty-framebuffer"]
	path = third_party/kitty-framebuffer
	url = https://github.com/itsmygithubacct/kitty-framebuffer.git
[submodule "third_party/kitty-input"]
	path = third_party/kitty-input
	url = https://github.com/itsmygithubacct/kitty-input.git
